
    


<div class="container py-5">

    <input *ngIf="tvData.length || searchList.length" [(ngModel)]="term" (change)="searchTv()" type="text" class="form-control mt-2 mb-5 bg-transparent text-white" placeholder="Search ....">

    <div class="row" *ngIf="tvData.length ">

        <div  class="col-md-2" *ngFor="let tv of tvData">
            <app-item *ngIf="!term.length"  [apiData]="tv" ></app-item>
        </div>
    </div>
    <div class="row" *ngIf="searchList.length && term.length">
        <div class="col-md-2 mb-5" *ngFor="let tv of searchList">
               <div class="content position-relative pointer">
    <img class="w-100 h-100 rounded" *ngIf="tv.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+ tv.poster_path" alt="">
    <img class="w-100 h-100 rounded" *ngIf="!tv.poster_path" src="./assets/images/download.png" alt="">

    <div class="overlay" [routerLink]="['/details/',tv.id , 'tv']">
        <p class="p-2 w-100 text-white">{{tv.overview | split : 30}}</p>
    </div>
   </div>         
   <h5 class="fs-5 mt-3"> {{tv.name}} </h5>
        </div>
    </div>
    <app-loading *ngIf="term.length && !searchList.length"></app-loading>
    <app-loading *ngIf="!tvData.length"></app-loading>


</div>    
<nav *ngIf="tvData.length && !searchList.length" aria-label="..." class="d-flex justify-content-center mb-3">
        <ul class="pagination">
        
          <li class="page-item" *ngFor="let page of pages" (click)="getTv(page)">
            <a class="page-link pointer bg-transparent text-white">{{page}}</a>
        </li>
      
         
        </ul>
      </nav>