   <!-- <div class="content position-relative pointer">
    <img class="w-100 h-100 rounded" [src]="'https://image.tmdb.org/t/p/w500'+ apiData.poster_path" alt="">
    <div class="overlay" [routerLink]="['/details/',apiData.id , apiData.media_type]">
        <p class="p-2 w-100">{{apiData.overview | split : 30}}</p>
    </div>
   </div>         
   <h5 class="fs-5 mt-3">{{apiData.title}} {{apiData.name}} </h5> -->


 
<div class="position-relative">
  
  <div class="page w-100  mt-2 mb-0">
    <div class="wrapper mb-0"  [routerLink]="['/details/',apiData.id , apiData.media_type]">
      <div class="front">
        <p *ngIf="apiData.vote_average" class="position-absolute top-0 end-0 bg-info py-1 px-2 text-black">{{apiData.vote_average | number:'1.0-1'}}</p>
        <img class="w-100 h-100 rounded" *ngIf="apiData.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+ apiData.poster_path" alt="">
        <img class="w-100 h-100 rounded" *ngIf="apiData.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+ apiData.profile_path" alt="">
        <img class="w-100 h-100 rounded" *ngIf="!apiData.profile_path && !apiData.poster_path" src="./assets/images/download.png" alt="">


      </div>
      <div class="back">
        <img class="w-100 h-100 rounded" *ngIf="apiData.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+ apiData.poster_path" alt="">
        <img class="w-100 h-100 rounded" *ngIf="apiData.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+ apiData.profile_path" alt="">
        <img class="w-100 h-100 rounded" *ngIf="!apiData.profile_path && !apiData.poster_path" src="./assets/images/download.png" alt="">

        <p class="p-2 w-100  h-100 position-absolute overview" *ngIf="apiData.overview">{{apiData.overview | split : 30}}</p>

      </div>
    </div>
  </div>
  <h5 class="fs-5 mt-3 text-center">{{apiData.title}} {{apiData.name}} </h5>
</div>