.pointer{
    cursor: pointer;
    &:hover{
        background-color: white !important;
        color: black !important;
    }
}
.content{
    .overlay{
        background-color: rgba($color: #333232, $alpha: 0.3);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    img{
        transition: all 0.5s;

    }
    &:hover{
        .overlay{
            top: 0;
        }
        img, .overlay{
            transform: scale(1.1);
        }
    }

}
.pointer{
    cursor: pointer;
}
.overview{
    background-color: rgba($color: #333232, $alpha: 0.5);

}