<div class="container py-5">
    <input *ngIf="peopleData.length || searchList.length" [(ngModel)]="term" (change)="searchPeople()" type="text" class="form-control mt-2 mb-5 bg-transparent text-white" placeholder="Search ....">

  
    <div class="row" *ngIf="peopleData.length ">

        <div  class="col-md-2" *ngFor="let person of peopleData">
            <app-item *ngIf="!term.length"  [apiData]="person" ></app-item>
        </div>
    </div>
    <div class="row" *ngIf="searchList.length && term.length">
        <div class="col-md-2 mb-5" *ngFor="let person of searchList">
               <div class="content position-relative pointer">
    <img class="w-100 h-100 rounded" *ngIf="person.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+ person.profile_path" alt="">
    <img class="w-100 h-100 rounded" *ngIf="!person.profile_path" src="./assets/images/download.png" alt="">

    <div class="overlay" [routerLink]="['/details/',person.id , 'person']">
        <p class="p-2 w-100 text-white">{{person.overview | split : 30}}</p>
    </div>
   </div>         
   <h5 class="fs-5 mt-3"> {{person.name}} </h5>
        </div>
    </div>
    <app-loading *ngIf="term.length && !searchList.length"></app-loading>
    <app-loading *ngIf="!peopleData.length"></app-loading>


</div>    
<nav *ngIf="peopleData.length && !searchList.length" aria-label="..." class="d-flex justify-content-center mb-3">
        <ul class="pagination">
        
          <li class="page-item" *ngFor="let page of pages" (click)="getPeople(page)">
            <a class="page-link pointer bg-transparent text-white">{{page}}</a>
        </li>
      
         
        </ul>
      </nav>