/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import "../src/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


body {
    background-color: $bgColor !important;
    font-family: 'PT Serif',sans-serif !important;
    color: $fontColor !important;


}
